
/***其他****/

//置顶
.zhiding{
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 9998;
    display: none;
    
    
    .iconfont{
        color:@text-base;
        font-size: 42px;
    }
}


//头部背景颜色
.mui-bar.mui-bar-nav,
.mui-bar.mui-bar-nav.bg-white{ 
     background: rgb(9,162,232);
     
        //返回按钮
       .mui-action-back{ 
       color:#fff;
       }
    
        //标题
        h1{
            color:#fff;
        }
  
  }


//三联选择地址
    .mui-poppicker-body .mui-picker {
        background: #fff;
    }
    .mui-poppicker-body .mui-picker ul li {
        color: #666;
    }
    .mui-pciker-rule.mui-pciker-rule-ft {
//      background: orange;
//      opacity: .5;
    }

//确定按钮
.mui-btn.mui-btn-blue.mui-poppicker-btn-ok{
    background: @text-danger;
    color:#fff !important;
    border: 1px solid darken(@text-danger,10%);
}

//取消按钮
.mui-btn.mui-poppicker-btn-cancel{
  background: @text-warning;
    color:#fff;
    border: 1px solid darken(@text-warning,10%);  
}

//选中项的样式
.mui-pciker-list li.highlight{
    color:@text-warning !important;
}



//日期

.mui-picker-inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: none;
    -webkit-mask-box-image: none !important;
    -webkit-mask-box-image: none;
    background: #fff;
}