
/*行情内容*/

.quodtl{
    
    padding: 10px;
    background: #fff;
    
    h4{
        margin-top: 20px;
        margin-bottom: 15px;
        color:@text-777;
        font-size: 18px;
        font-weight: 600;
    }    
    
    .date{
        margin-bottom: 15px;
    }
    .quodtl-cont{
         img{
        max-width: 100% !important;
        height: auto !important;
    }
    }
   
    
}
