/*行情内容*/

.quodtl {
    padding: 10px;
    background: #fff;
    
    //标题
    h4 {
        margin-top: 20px;
        margin-bottom: 15px;
         padding: 0 10px;
        color:#777;
        font-size: 18px;
        font-weight: 500;
    }
    
    //时间
    .date {
        margin-bottom: 15px;
          padding: 0 10px;
    }
    
    //内容
    .quodtl-cont {
        padding: 10px;
        color:#777;
       
        img {
            max-width: 100% !important;
            height: auto !important;
        }
        
        
    }
}

//页脚
.quodtl.mui-bar.mui-bar-tab{
    padding: 0;
 height: 50px;
 line-height: 50px;
    text-align: center;
    span{
        font-size: 16px;
        vertical-align: middle;
    }
}
