
/*现货商城*/
.shop{


    background: #fff;
    
    .mui-pull-bottom-tips{
                
                position: relative;
                display: block !important;
                background: none;
                
            }
            
            .mui-pull-bottom-wrapper{
                position: relative;
                
                left: 80%;
                width: 100px;
                padding-left: 10px;
                font-size: 14px;
                
            }
            
            .mui-pull-bottom-wrapper .mui-pull-loading{
                
                   
                   display: block;
                   position: relative;
                   
                   left: 50%;
                   margin-left: -30px;
                   text-align: center;
            }
}


.shop-table.table{
    
    border: none !important;
    //表头
    thead tr th{
         padding: 10px 10px !important;
        font-size: 14px;
        color:@text-777;
        font-weight: 600;
        background: #fff;
        border: none;
        border-bottom: 1px solid @text-ash-3;
        &+th{
            
        }
    }
    
    tbody tr td{
        padding: 10px 5px !important;
        font-size: 14px;
        
        border: none;
        border-bottom: 1px solid @text-ash-3;
        //图标
        .mui-icon-arrowright{
            font-size: 16px;
        }
        
    }
}


@media screen and (max-width: 767px){

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: none !important;
}}

/*市场报价*/

.shop-nav
 {
    width: 100%;
    height: 50px !important;
    padding: 0 10px;
    background: #fff !important;
    .mui-scroll {}
    .mui-control-item {
        padding: 0 5px !important;
        line-height: 50px !important;
        font-size: 14px !important;
        font-weight: 600;
        color:#777 !important;
        
    }
    //选中样式
    .mui-control-item.mui-active {
        color: @text-primary !important; //字体颜色
        border-bottom: none !important;
       
    }
    .mui-control-item+.mui-control-item:before {
        content: '|';
        padding-right: 5px;
        color: @text-ash-3;
        font-weight: 200;
        font-size: 14px;
    }
}