
/*现货商城*/
.shop{


    background: #fff;
}


.shop-table{
    
    border: none !important;
    //表头
    thead tr th{
         padding: 10px 10px !important;
        font-size: 14px;
        color:@text-777;
        font-weight: 600;
        background: #fff;
        border: none !important;
        &+th{
            border-left: 1px solid @text-ash-3 !important; 
        }
    }
    
    tbody tr td{
        padding: 10px 5px !important;
        font-size: 14px;
        
        border: none;
        border-bottom: 1px solid @text-ash-3;
        //图标
        .mui-icon-arrowright{
            font-size: 16px;
        }
        
    }
}



/*市场报价*/

.shop-nav
 {
    width: 100%;
    height: 50px !important;
    padding: 0 10px;
    background: #fff !important;
    .mui-scroll {}
    .mui-control-item {
        padding: 0 5px !important;
        line-height: 50px !important;
        font-size: 14px !important;
        font-weight: 600;
        color:#777 !important;
        
    }
    //选中样式
    .mui-control-item.mui-active {
        color: @text-primary !important; //字体颜色
        border-bottom: none !important;
       
    }
    .mui-control-item+.mui-control-item:before {
        content: '|';
        padding-right: 5px;
        color: @text-ash-3;
        font-weight: 200;
        font-size: 14px;
    }
}